/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~rsuite/lib/styles/themes/default/index.less';

@base-color: #ed798e;
@charcoal-color: #383f51;
@btn-primary-color: #f55673;
@btn-primary-bg: #f55673;
@dropdown-link-active-color: @btn-primary-color;
@sidenav-default-active-font-color: @btn-primary-color;
@input-border-focus: @charcoal-color;

@user-1: #fb9f89;

body {
  height: 100vh;
}

#root {
  height: 100vh;
  display: flex;
}

.ace_hidden-cursors {
  opacity: 0;
}

.user-marker-1 {
  position: absolute;
  width: 1px !important;
  background-color: @user-1;
}

.user-marker-1::before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  width: 5px;
  height: 5px;
  background-color: @base-color;
}
