/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~rsuite/lib/styles/themes/dark/index.less';

@base-color: #fae3e3;

body {
  height: 100vh;
}

#root {
  height: 100vh;
  display: flex;
}

.ace_hidden-cursors {
  opacity: 0;
}

.user-marker {
  position: absolute;
  width: 1px !important;
  background-color: @base-color;
}

.user-marker::before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  width: 5px;
  height: 5px;
  background-color: @base-color;
}

.user-marker-selection {
  position: absolute;
  background-color: @base-color;
}
